<html>
    <head>
        <title>電子政府きふわらべ</title>
    </head>
    <body>
        <img src="static/img/20211102shogi18.png" /><br />
        <span style="color: red">{{errorMessage}}</span><br />
        <form method="POST" action="/vote">
            あなたの名前（表示されます 1文字以上20文字以内）<br />
            <input
                type="text"
                name="yourName"
                maxlength="20"
                value="{{yourName}}"
            /><br />
            <br />
            適当な言葉（平文でHTMLソースとかで見れます。他人と被らなさそうなキーワード
            1文字以上20文字以内）<br />
            <input
                type="text"
                name="secret"
                maxlength="20"
                value="{{secret}}"
            /><br />
            <br />
            <input type="submit" value="Enter!" /><br />
        </form>

        <h2>サンプル</h2>
        +7776FU<br />
        先手が７七から７六へ歩を動かします<br />
        <br />
        -8687TO<br />
        後手が８六から８七へ動かして「と金」になりました<br />
        <br />
        +0055KA<br />
        先手が５五に角を打ちます。<span style="background-color: skyblue"
            >駒台</span
        >は00です<br />
        <br />
        <table border="1">
            <tr>
                <td style="background-color: skyblue">歩</td>
                <td style="background-color: skyblue">香</td>
                <td style="background-color: skyblue">桂</td>
                <td style="background-color: skyblue">銀</td>
                <td style="background-color: skyblue">金</td>
                <td style="background-color: skyblue">角</td>
                <td style="background-color: skyblue">飛</td>
                <td style="background-color: skyblue">玉</td>
                <td style="background-color: skyblue">と</td>
                <td style="background-color: skyblue">成香</td>
                <td style="background-color: skyblue">成桂</td>
                <td style="background-color: skyblue">成銀</td>
                <td style="background-color: skyblue">馬</td>
                <td style="background-color: skyblue">竜</td>
            </tr>
            <tr>
                <td>FU</td>
                <td>KY</td>
                <td>KE</td>
                <td>GI</td>
                <td>KI</td>
                <td>KA</td>
                <td>HI</td>
                <td>OU</td>
                <td>TO</td>
                <td>NY</td>
                <td>NK</td>
                <td>NG</td>
                <td>UM</td>
                <td>RY</td>
            </tr>
        </table>
        <br />
        %TORYO<br />
        投了します<br />
        <br />
        %KACHI<br />
        入玉での勝ち宣言をします<br />
        <br />
        その他<br />
        📖
        <a href="http://www2.computer-shogi.org/protocol/record_v22.html"
            >CSA標準棋譜ファイル形式</a
        ><br />
    </body>
</html>
