<html>
    <head>
        <title>電子政府きふわらべ</title>
    </head>
    <body>
        <img src="static/img/20211102shogi18.png" /><br />
        {{yourName}} さんの次の一手を入力しろだぜ（＾ｑ＾）<br />
        <span style="color: red">{{errorMessage}}</span><br />
        <form method="POST" action="/thanks">
            <input type="hidden" name="yourName" value="{{yourName}}" />
            <!-- 平文（／＿＼） -->
            <input type="hidden" name="secret" value="{{secret}}" />
            <input
                type="text"
                name="bestmove"
                maxlength="10"
                value="{{bestmove}}"
            />
            <input type="submit" value="Vote!" />
        </form>

        <h2>入力例</h2>
        +7776FU<br />
        先手が７七から７六へ歩を動かします<br />
        <br />
        -8687TO<br />
        後手が８六から８七へ動かして「と金」になりました<br />
        <br />
        +0055KA<br />
        先手が５五に角を打ちます。<span style="background-color: skyblue"
            >駒台</span
        >は00です<br />
        <br />
        <table border="1">
            <tr>
                <td style="background-color: skyblue">歩</td>
                <td style="background-color: skyblue">香</td>
                <td style="background-color: skyblue">桂</td>
                <td style="background-color: skyblue">銀</td>
                <td style="background-color: skyblue">金</td>
                <td style="background-color: skyblue">角</td>
                <td style="background-color: skyblue">飛</td>
                <td style="background-color: skyblue">玉</td>
                <td style="background-color: skyblue">と</td>
                <td style="background-color: skyblue">成香</td>
                <td style="background-color: skyblue">成桂</td>
                <td style="background-color: skyblue">成銀</td>
                <td style="background-color: skyblue">馬</td>
                <td style="background-color: skyblue">竜</td>
            </tr>
            <tr>
                <td>FU</td>
                <td>KY</td>
                <td>KE</td>
                <td>GI</td>
                <td>KI</td>
                <td>KA</td>
                <td>HI</td>
                <td>OU</td>
                <td>TO</td>
                <td>NY</td>
                <td>NK</td>
                <td>NG</td>
                <td>UM</td>
                <td>RY</td>
            </tr>
        </table>
        <br />
        %TORYO<br />
        投了します<br />
        <br />
        %KACHI<br />
        入玉での勝ち宣言をします<br />
        <br />
        その他<br />
        📖
        <a href="http://www2.computer-shogi.org/protocol/record_v22.html"
            >CSA標準棋譜ファイル形式</a
        ><br />
    </body>
</html>
